@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Spectral:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,700;1,800&display=swap');

html {
  scroll-behavior: smooth;
}
/* Reference for smooth anchor link scroll - https://css-tricks.com/snippets/jquery/smooth-scrolling/ */

/*--------------------------------------------------- Fonts */

body {
    color: #12171b;
}

h1,h2,h3,h4 {
    font-family: 'Spectral', serif;
}   

p {
    font-family: 'Rubik', sans-serif;
    margin-bottom: 2rem;
}

.navbar-brand {
    font-family: 'Spectral', serif;
    font-weight: 700!important;
    font-size: 2rem!important;
}

.navbar a {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #12171b;
}

.navbar a:active {
    background-color: black;
    color: white;
}

.navbar a:hover {
    background-color: black;
    color: white;
    transition: all .5s linear;
}

.display-bold {
    font-weight: 900;
}

.lead {
    font-weight: 400;
}

/*--------------------------------------------------- Containers */

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.hero-container {
    height: 100vh;
    background: url('../images/hero-image-02.jpg') no-repeat bottom right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.work-hero-container {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.value-prop {
    padding: 0 10% 10% 10%
}

.work {
    padding: 10% 0;
}

.work.casestudy {
    padding: 5% 10% 10% 10%;
}

.casestudy-block {
    padding: 0 5% 10% 5%;
}

.work.casestudy .row {
    align-items: center;
    text-align: center;
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.black-bg {
    background-color: black;
    color: #fff;
}

/*--------------------------------------------------- Navbar */

.navbar {
    padding-right: 5%;
    padding-left: 5%;
    background-color: #fff;
}

/*--------------------------------------------------- Jumbotron */

.jumbotron {
    background-color: transparent;
    padding-top: 0;
    width: 75%;
    color: #12171b;
    font-weight: 700;
    margin-bottom: 20px;
}

.my-4 {
    border-top: 5px solid rgb(255 255 255);
    width: 10%;
}

/*--------------------------------------------------- Timeline */

/* Taken from Code Institute Resume project */

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 0em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
    color: #fafafa;
}

.timeline-item:after {
    width: 14px;
    height: 14px;
    display: block;
    top: 0em;
    position: absolute;
    left: -8px;
    border-radius: 14px;
    content: '';
    background: #fff;
}

.timeline-item {
    padding: 2em 2em 2em 2em;
    position: relative;
    color: #ababab;
    border-left: 2px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
    font-weight: 100;
}

/*--------------------------------------------------- Misc UI Elements  */

.work hr {
    border-top: 2px solid #12171b;
    margin-right: 90%;
}

.about-me hr {
    border-top: 2px solid #fff;
    margin-right: 83%;
}

.btn {
    font-weight: 600;
    border-radius: 0rem;
    border-width: 3px;
    border-color: #12171b;
    background-color: #fff;
    color: #12171b;
}

.btn:hover {
    background-color: #12171b ;
    color: #fff;
    border-color: #12171b;
}

.btn:active {
    background-color: #12171b ;
    color: #fff;
    border-color: #12171b;
}

.btn:focus {
    background-color: #12171b ;
    color: #fff;
    border-color: #12171b;
}

.img-link img:hover{
    -moz-box-shadow: 16px 16px 25px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 16px 16px 25px rgb(0 0 0 / 20%);
    box-shadow: 16px 16px 25px rgb(0 0 0 / 20%);
}

.img-link img {
    display: cover;
        -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.work.casestudy img {
    -moz-box-shadow: 16px 16px 25px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 16px 16px 25px rgb(0 0 0 / 20%);
    box-shadow: 16px 16px 25px rgb(0 0 0 / 20%);
}

/*--------------------------------------------------- Footer  */

footer {
    margin: auto;
    text-align: center;
}

.footer-nav {
    margin: 0 30%;
}

.footer-nav a {
    color: #fff;
    padding-top: 0.01em!important;
}

.footer-nav a:active {
    background-color: #fff;
    color: #000;
    text-decoration: none;
}

.footer-nav a:hover {
    background-color: #fff;
    color: #000;
    transition: all .5s linear;
    text-decoration: none;
}

.footer-social {
    margin: 0 30%;
}

.footer-social a {
    color: #fff;
    font-size: 1.3em;
    display: block;
}

.footer-social a:active {
    background-color: #fff;
    color: #000;
    text-decoration: none;
}

.footer-social a:hover {
    background-color: #fff;
    color: #000;
    transition: all .5s linear;
    text-decoration: none;
}

.footer-contact {
    margin: 0 30%;
}

.footer-contact a {
    color: #fff;
    font-size: 1.3em;
    display: block;
}

.footer-contact a:active {
    background-color: #fff;
    color: #000;
    text-decoration: none;
}

.footer-contact a:hover {
    background-color: #fff;
    color: #000;
    transition: all .5s linear;
    text-decoration: none;
}

.footer-link {
    display: block;
}
